<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    data-namespace-typo3-fluid="true">

    <f:layout name="Default" />

    <f:section name="main">
    
        <f:if condition="{infographicsList}">
            <f:then>
                <div class="tiles-wrapper">
                    <div class="tiles flex-container flex-container--margin">
                        <f:for each="{infographicsList}" as="infographic" iteration="iterator">
                            <div class="flex-item flex-basis-3">
                                <div class="tile">
                                    <div class="tile__header has-img">
                                        <div class="tile__img">
                                            <f:if condition="{infographic.imageTeaser}" >
                                                <f:cObject typoscriptObjectPath="lib.txRkwInfographics.responsiveImageThumbnail" data="{infographic.imageTeaser.uid}"/>
                                            </f:if>
                                        </div>
                                    </div>
                                    <div class="tile__content">
                                        <h3 class="tile__title">
                                            <span class="tile__title-text">{infographic.title}</span>
                                        </h3>
                                        <div class="tile__text">
                                            <p>{infographic.teaser}</p>
                                        </div>
                                    </div>
                                    <a 
                                        class="tile__link-overlay js-open-mdl" 
                                        data-modal="mdl-c{infographic.uid}" 
                                        title=""
                                        href="#"
                                    >
                                    </a>
                                </div>
                            </div>
                        </f:for>
                    </div>
                </div>
                <f:for each="{infographicsList}" as="infographic" iteration="iterator">
                    <f:render partial="Modal/Infographic" arguments="{_all}" />
                    <div class="mdl-layer js-mdl-layer"></div>
                </f:for>
            </f:then>
        </f:if>
    
    </f:section>

</html>